<%- include('partials/head.ejs', { title: title }) %>
  <h1><%= title %></h1>
  <hr />
  <p><sl-button variant="primary" href="/create">Create Page</sl-button></p>
  <section>
    <ul class="pages">
      <% for (var i = 0; i < pages.length; i++) { %>
        <li>
          <div>
            <h3>Page: <%= pages[i].id %></h3>
            <span><%= pages[i].firstName %> <%= pages[i].lastName %></span>
          </div>
          <nav>
            <sl-button href="/edit/<%= pages[i].id %>" variant="default" size="large">
              Edit <sl-icon slot="suffix" name="pencil-square"></sl-icon>
            </sl-button>
            <sl-button href="/page/<%= pages[i].id %>" variant="default" size="large">
              View <sl-icon slot="suffix" name="binoculars"></sl-icon>
            </sl-button>
          </nav>
        </li>
      <% } %>
    </ul>
  </section>
<%- include('partials/footer.ejs', { title: title }) %>
