<%- include('partials/head.ejs', { title: title, bodyClass: bodyClass }) %>
  <h1><%= title %> </h1>
  <p><sl-button variant="primary" href="/create">Create Page</sl-button></p>
  <hr />
  <section>
    <ul class="pages">
      <% for (var i = 0; i < pages.length; i++) { %>
        <li>
          <h3>
            <%= pages[i].firstName %> <%= pages[i].lastName %>
            <% if (pages[i].email !== '') { %>
              <small><%= pages[i].email %></small>
            <% } %>
          </h3>
          <indelible-url page-id="<%= pages[i].id %>"></indelible-url>
          <nav>
            <sl-button href="/edit/<%= pages[i].id %>" variant="default" size="large">
              Edit <sl-icon slot="suffix" name="pencil-square"></sl-icon>
            </sl-button>
            <sl-button href="/page/<%= pages[i].id %>" variant="default" size="large">
              View <sl-icon slot="suffix" name="binoculars"></sl-icon>
            </sl-button>
          </nav>
        </li>
      <% } %>
    </ul>
  </section>
  <% if (pagination.currentPage && pagination.limit) { %>
    <indelible-pagination
      link="/dashboard?page=[[current]]&limit=<%= pagination.limit %>"
      link-previous="/dashboard?page=[[previous]]&limit=<%= pagination.limit %>"
      link-next="/dashboard?page=[[next]]&limit=<%= pagination.limit %>"
      link-first="/dashboard?page=[[first]]&limit=<%= pagination.limit %>"
      link-last="/dashboard?page=[[last]]&limit=<%= pagination.limit %>"
      total="<%= pagination.totalPages %>"
      current="<%= pagination.currentPage %>"
      <% if (pagination.previousPage) { %> previous="<%= pagination.previousPage %>"<% } else { %> previous="disabled" <% } %>
      <% if (pagination.nextPage) { %> next="<%= pagination.nextPage %>"<% } else { %> next="disabled" <% } %>
      <% if (pagination.currentPage !== 1) { %> first="1" <% } %>
      <% if (pagination.currentPage !== pagination.totalPages) { %> last="<%= pagination.totalPages %>" <% } %>
    >
    </indelible-pagination>
  <% } %>
<%- include('partials/footer.ejs', { title: title }) %>
