<%- include('partials/head.ejs', { title: title, bodyClass: bodyClass }) %>
  <h1><%= title %></h1>
  <h2>&lsaquo; <a href="/dashboard?page=1&limit=10"> Back to Dashboard</a></h2>
  <form id="edit" action="/edit" method="POST">
    <p><sl-input name="firstName" label="First name." value="<%= page.firstName %>" required></sl-input></p>
    <p><sl-input name="lastName" label="Last name." value="<%= page.lastName %>" required></sl-input></p>
    <p><sl-input name="email" type="email" label="Email." placeholder="user@domain.com" value="<%= page.email %>"></sl-input></p>
    <p><indelible-page-type media-type="<%= page.mediaType %>" media-url="<%= page.mediaURL %>"></indelible-page-type></p>
    <p><sl-textarea name="message" label="Gift message." value="<%= page.message %>"></sl-textarea></p>
    <br />
    <hr />
    <section class="submit">
      <div><sl-button type="submit" variant="primary">Save Edit</sl-button></div>
      <span class="message"></span>
    </section>
    <input type="hidden" name="id" value="<%= page.id %>" />
  </form>
<%- include('partials/footer.ejs') %>
